<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
html {
  font-size: 10px;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#main-layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template:
  "n n" 56px
  "s c" / 240px
}

#nav{
  grid-area: n;
}
#side{
  grid-area: s;
}
#content{
  grid-area: c;
}